        <footer>
            <div>
                <p>This is footer.</p>
                <span>&copy; Your Name</span>
            </div>
        </footer>
    <script src="/js/main.js"></script>
</body>
</html>